__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.env
*.log
*.pot
*.pyc
*.pdb
*~
*.swp
.idea/
.vscode/
pytest_cache/
.coverage
.coverage.*
.cache/
.eggs/
*.egg-info/
*.egg
.DS_Store
Dockerfile
docker-compose.yml